* {
    box-sizing: border-box;    
}


.hh1 {
    font-family: 'Yellowtail', cursive;
    font-weight: 600;
}

.hh2{
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 700;
    font-size: xx-small;
    margin-left: 20px;
}

.c-pizza{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.pizza-img {
    width: 100%;
}

.post  {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: xx-small;
}

.header, .header3 {
    display: flex;
    justify-content: space-between;
}

.button1 {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
}

.table {
    display: flex;
    background-image: url(./Resources/list-bg.png);
    width: 100%;
}

.author {
    display: flex;
    justify-content: space-between;
}


.a-img {
    width: 50px;
    height: 50px;

}

.a-info, .a-bio  {
    display: inline ;
    width: 25%;
}

.share-button {
    display: inline;
    margin: 3% 20% 3% 0;
}
.button2 {
    color: white;
    background-color: #ca8767;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 15px;
	padding: 0;
    flex-direction: column;
    align-items: center;
    padding: 1px 12px;

}

.footer {
    display: grid;
    justify-content: center;
}

.footer1 {
    padding-left: 110px;
}

.publish {
    margin-left: 25px;
}